*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: Arial, sans-serif;
    line-height: 1.6rem;
    background-color: #d1d9e2;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.header{
    background-color: #2c3e50;
    color: white;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 1.5rem;
    text-align: center;
}
.logo span{
    font-size: 1rem;
    display: block;
    font-weight: normal;
}
.nav-link{
    list-style: none;
    display: flex;
}
.nav-link li{
    margin-left: 2rem;
}
.nav-link a{
    color: white;
    text-decoration: none;
}
.nav-link a:hover{  
    border: 1px solid white;
    border-radius: 3px;
    color: rgb(247, 245, 246);
}
.home{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    padding: 2rem 0;
    text-align: center;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20240126/pngtree-restaurant-blur-images-dark-background-image_15612197.jpg);
    height: 100vh;
    background-blend-mode: hard-light;
    background-size: cover;
}
.main-content h2{
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 15rem;
    letter-spacing: 0.1rem;
    font-family: Copperplate Gothic, sans-serif;
}
.main-content p{
    font-size: 1.2rem;
    color: white;
    margin: 2rem 0rem 0rem 2rem;
    font-family: 'Baskerville Old Face', sans-serif;
}
.btn{
    display: flex;
    justify-content: center;
    padding: 1rem 1.5rem;
    color: white;
    margin-top: 1rem;
    cursor: pointer;
}
.btn-first{
    background-color: #f02e19;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}
.btn-first:hover{
    background-color: #151010;
    border: 2px solid rgb(254, 253, 253);
    color: rgb(252, 251, 251);
    transform: translateY(2px);
}
.btn-second{
    background:transparent;
    border: 2px solid rgb(252, 251, 251);
    color: rgb(249, 248, 248);
    font-weight: bold;
    margin-left: 1rem;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.btn-second:hover{
    transform: translateY(2px);
}
.menu-header{
    text-align: center;
    margin: 3rem 0 2rem 0;
}
.menu-header h2{
    font-size: 2.3rem;
    color: #2c3e50;
    margin-bottom: 1.5rem;
    font-family: 'Copperplate Gothic', sans-serif;
}
.menu-header span{
    font-size: 1rem;
    color: #051321;
    font-family: 'Baskerville Old Face', sans-serif;
}
.menu-categories{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 4rem;
}
.menu-category h2{
    gap: 2rem;
    margin-bottom: 0.7rem;
    border-bottom: #ea282f 2px solid;
    padding-bottom: 0.5rem;
    font-family: 'Copperplate Gothic', sans-serif; 
}
.menu-items{
    display: grid;
    gap: 1.5rem;
}
.menu-item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5rem;
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;

}
.menu-item:hover{
    transform: translateY(3px);
} 
.menu-item-info h3{
    color: #051321;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
}
.menu-item-info p{
    padding-left: 1rem;
}
.price{
    font-weight: bold;
    color: #e20e0e;
}
.about{
    padding: 3rem 0;
}
.about-container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 2rem;
    background-color: aliceblue;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
.about-container:hover{
    transform: translateY(-3rem);
}
.section-title{
    text-align: center;
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 2rem;
    font-family: 'Copperplate Gothic', sans-serif;
    transition: all 0.3s ease;
}
.section-title:hover{
    color: #f905c8;
    transform: scale(1.05);
    text-shadow: 3px 5px 1px rgba(36, 1, 29, 0.2);
}
.about-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
} 
.about-text h3{
    font-size: 2rem;
    color: #2c3e50;
    font-family: 'Baskerville Old Face', sans-serif;
}
.about-text p{
    margin-top: 1rem;
    font-size: 1.1rem;
    line-height: 1.6rem ;
    color: #555;
}
.about-image img{
    width: 100%;
    height: 300px;
    margin-top: 2rem;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}
.about-image img:hover{
    transform: scale(1.10);
    cursor: pointer;
}

.contact{
    padding: 5rem 0;
}
.contact-container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 2rem;
    background-color: aliceblue;
    border-radius: 5px;
}
.contact-title{
    text-align: center;
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 2rem;
    font-family: 'Copperplate Gothic', sans-serif;
    transition: all 0.3s ease;
}
.contact-title:hover{
    color: #f905c8;
    transform: scale(1.05);
    text-shadow: 3px 5px 1px rgba(36, 1, 29, 0.2);
}
.contact-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
} 
.contact-info h2{
    font-size: 2rem;
    color: #2c3e50;
    font-family: 'Baskerville Old Face', sans-serif;
}
.contact-info label{
    font-size: 1.1rem;
    color: #2c3e50;
    margin-top: 1rem;
}
.contact-info p{
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #555;
}
.contact-info-form h5{
    font-size: 1.8rem;
    color: #2c3e50;
    margin: 2rem 0 1rem 0;
    font-family: 'Baskerville Old Face', sans-serif;
}
#time{
    margin-bottom: 1rem;
    width: 100%;
    height: 2.5rem;
}
#guest{
    margin-bottom: 1rem;
    width: 100%;
    height: 2.5rem;
}
.contact-info-form input,
.contact-info-form textarea{
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.contact-info-form input:focus,select:focus,
.contact-info-form textarea:focus{
    border-color: #f40659;
    outline: none;
}
.contact-info-form button{
    background-color: #2c3e50;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.contact-info-form button:hover{
    background-color: #8f5ef0;
    
}
.footer{
    padding: 1rem 0;

}
.footer-container{
    background-color: #2c3e50;
    color: white;
    padding: 2rem 0;
    margin-top: 2rem;
    width: 100%;
}
.footer-items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}
.footer-first h5{
    font-size: 1.5rem;
    font-family: 'Baskerville Old Face', sans-serif;

}
.footer-first p{
    width: 300px;
    letter-spacing: 1px;
    margin-top: 1rem;
}
.footer-second ul{
    list-style: none;
}
.footer-second h5{
    font-size: 1.5rem;
    font-family: 'Baskerville Old Face', sans-serif;
    margin-bottom: 1rem;
}
.footer-second a{
    display: block;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: white;
    transition: all  0.3s ease;

}
.footer-second a:hover{
    color: aqua;
    transform: scale(1.10);
}
.footer-third h5{
    font-size: 1.5rem;
    font-family: 'Baskerville Old Face', sans-serif;
    margin-bottom: 1rem;
}
.footer-third p{
    line-height: 1.5rem;
}   
.footer-four h5{
    font-size: 1.5rem;
    font-family: 'Baskerville Old Face', sans-serif;
    margin-bottom: 1rem;
}
.footer-four a{
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: 'Baskerville Old Face', sans-serif;
    border: 2px solid white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    text-align: center;
    transition: all  0.3s ease;

}
.footer-four a:hover{
    background-color: aqua;
    color: #010a13;
    transform: scale(1.10);
}
.footer-last{
    text-align: center;
    color: white;
    font-size: 1.3rem;
    background-color: #2c3e50;
}

@media (max-width: 768px){
    .about-content, .contact-content{
        grid-template-columns: 1fr;
        font-size: 2rem;
    }
    .menu-items{
        grid-template-columns: 1fr;
    }
    .nav-link{
        flex-direction: column;
        align-items: center;
    }
    .footer{
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 480px){
    .main-content h2{
        font-size: 2rem;
        margin-top: 10rem;
    }
    .btn-first, .btn-second{
        padding: 8px 15px;
        font-size: 0.9rem;
    }
}